In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\subhu\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: cffi>=1.14 in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\subhu\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\subhu\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\subhu\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\subhu\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\subhu\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
driver.get('https://www.flipkart.com/')

In [7]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

In [8]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [82]:
Brand_name=[]
prices=[]

In [83]:
name_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in name_tags:
    name=i.text
    Brand_name.append(name)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price=i.text
    prices.append(price)

In [84]:
df=pd.DataFrame({'Brand_name':Brand_name,'prices':prices})

In [80]:
df

           Brand_name  prices
0       VINCENT CHASE    ₹999
1       VINCENT CHASE    ₹849
2            Fastrack    ₹799
3           Elligator    ₹298
4              PIRASO    ₹252
5           New Specs    ₹265
6              SUNBEE    ₹283
7       VINCENT CHASE    ₹799
8            Fastrack    ₹639
9              PIRASO    ₹224
10               SRPM    ₹200
11      VINCENT CHASE    ₹949
12          New Specs    ₹207
13             PIRASO    ₹323
14  SHAAH COLLECTIONS    ₹195
15      VINCENT CHASE    ₹999
16           Fastrack    ₹639
17         PHENOMENAL    ₹267
18     ROZZETTA CRAFT    ₹499
19      VINCENT CHASE    ₹949
20             PIRASO    ₹221
21         Lee Topper    ₹219
22     ROZZETTA CRAFT    ₹499
23      VINCENT CHASE  ₹1,049
24         PHENOMENAL    ₹350
25            Dannilo    ₹170
26         LIZA ANGEL    ₹199
27      VINCENT CHASE    ₹949
28              NuVew    ₹198
29                 Mi    ₹799
30           Fastrack  ₹1,039
31      VINCENT CHASE    ₹999
32           Fastrack    ₹719
33             PIRASO    ₹203
34         EYELLUSION    ₹199
35      VINCENT CHASE    ₹999
36          ROYAL SON    ₹664
37       Silver Kartz    ₹288
38             Sewell    ₹265
39             AISLIN    ₹475

In [86]:
nextpage=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
nextpage.click()

In [111]:
Brand_name=[]
prices=[]

In [112]:
name_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in name_tags:
    name=i.text
    Brand_name.append(name)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price=i.text
    prices.append(price)

In [113]:
df=pd.DataFrame({'Brand_name':Brand_name,'prices':prices})
df

          Brand_name  prices
0         Lee Topper    ₹276
1     ROZZETTA CRAFT    ₹349
2             GANSTA    ₹255
3      VINCENT CHASE    ₹799
4     kingsunglasses    ₹213
5     kingsunglasses    ₹208
6     kingsunglasses    ₹214
7      VINCENT CHASE    ₹799
8             PIRASO    ₹224
9      VINCENT CHASE    ₹949
10         New Specs    ₹214
11       AEROPOSTALE    ₹783
12         ROYAL SON    ₹664
13      Singco India    ₹296
14            GANSTA    ₹246
15        Lee Topper    ₹237
16                Mi    ₹759
17          Fastrack  ₹1,169
18          Fastrack    ₹599
19            GANSTA    ₹331
20          Fastrack    ₹719
21     VINCENT CHASE    ₹849
22            PIRASO    ₹395
23     VINCENT CHASE    ₹949
24    ROZZETTA CRAFT    ₹449
25  HAMIW COLLECTION    ₹199
26            AISLIN    ₹498
27           Ray-Ban  ₹3,289
28     VINCENT CHASE    ₹649
29          Fastrack  ₹1,039
30    ROZZETTA CRAFT    ₹319
31             NuVew    ₹384
32            AISLIN    ₹675
33     VINCENT CHASE    ₹849
34            AISLIN    ₹498
35              SRPM    ₹231
36          Fastrack  ₹1,599
37        PHENOMENAL    ₹350
38         ROYAL SON    ₹664
39     VINCENT CHASE    ₹849

In [91]:
nextpage1=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
nextpage1.click()

In [125]:
Brand_name=[]
prices=[]

In [126]:
name_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in name_tags[0:22]:
    name=i.text
    Brand_name.append(name)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:22]:
    price=i.text
    prices.append(price)

In [127]:
df=pd.DataFrame({'Brand_name':Brand_name,'prices':prices})
df

        Brand_name  prices
0       Lee Topper    ₹276
1   ROZZETTA CRAFT    ₹349
2           GANSTA    ₹255
3    VINCENT CHASE    ₹799
4   kingsunglasses    ₹213
5   kingsunglasses    ₹208
6   kingsunglasses    ₹214
7    VINCENT CHASE    ₹799
8           PIRASO    ₹224
9    VINCENT CHASE    ₹949
10       New Specs    ₹214
11     AEROPOSTALE    ₹783
12       ROYAL SON    ₹664
13    Singco India    ₹296
14          GANSTA    ₹246
15      Lee Topper    ₹237
16              Mi    ₹759
17        Fastrack  ₹1,169
18        Fastrack    ₹599
19          GANSTA    ₹331
20        Fastrack    ₹719
21   VINCENT CHASE    ₹849